*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.side{
    height: 100vh;
}
.nav-link{
    font-size: larger;
}

.input-dark{
    border: none;
    background-color: #1c2f2f;
    color: white;
}

textarea.input-dark{
    height: 120px;
    resize: none;
}

.scroll::-webkit-scrollbar{
    display: none;
}

.modal-header{
    border-bottom: 1px solid #1c2f2f;
}

.image-post{
    width: 45px;
    height: 45px;
}


