// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//colors
$dark: #221B33;
$info: #443465;
$secondary: #302548;
$primary: rebeccapurple;
$light: #e9ecef;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "info":       $info,
    "danger":    #DC3545FF,
    "light":      $light,
    "dark":       $dark,
    "anime":      #4599C2,
    "manga":      #58EFEC,
    "character":  #CEE26B,
    "gender":    #CC2FBF,
);



$modal-backdrop-opacity: .1;
$modal-backdrop-bg: mediumpurple;


