// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//colors
$dark: rgb(24 24 27);
$info: rgb(39 39 42);
$secondary: rgb(63 63 70);
$primary: rebeccapurple;


